.page-header {
  width: 100%;
  padding: var(--spacing-large) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.page-header__logo {
  width: 200px;
}

.page-header__nav {
  width: 100%;
  padding: var(--spacing-medium) 0 var(--spacing-medium) 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-dark-gray);
}

.page-header__nav-list {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.page-header__nav-button {
  padding: var(--spacing-small);
  background-color: var(--color-yellow);
  border: 0;
  border-radius: 4rem;
  color: var(--color-background);
  font-size: var(--font-size-base);
  transition: all 0.25s;
}

.page-header__nav-button:hover {
  color: var(--color-primary);
}

.nav-active {
  color: var(--color-primary);
}
