body {
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-large);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 0 var(--spacing-x-large);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
}

.category-title {
  padding-bottom: var(--spacing-small);
  border-bottom: 1px solid var(--color-dark-gray);
}

.card__container {
  padding: var(--spacing-medium) 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-large);
}

.card {
  background-color: rgb(36, 36, 36);
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__text-container {
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-small);
}

.card__title {
  padding-bottom: var(--spacing-small);
}

.card__text {
  word-break: break-all;
}

.card__text:last-child {
  padding-bottom: var(--spacing-medium);
}

@media screen and (max-width: 769px) {
  .card__container {
    grid-template-columns: 1fr;
  }
}
